body {
  background-image: url("./omar-flores-lQT_bOWtysE-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.nav-wrapper {
  margin: 1.5rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topnavbtn {
  background: #575eeb;
  border-radius: 2px;
  padding: 8px 50px;
  gap: 10px;
  border: none;
}
.topnavbtn a {
  font-size: 18px;
  color: white;
}

.logoname {
  color: #ffffff;
  font-weight: 600;
  font-size: 32px;
}

.box-form {
  margin: 5rem auto;
  width: 80%;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  /* flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between; */
}
@media (max-width: 980px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}
.box-form div {
  height: auto;
}
.box-form .left {
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./omar-flores-lQT_bOWtysE-unsplash.jpg");
  filter: grayscale(100%);
  overflow: hidden;
}
.box-form .left .overlay {
  padding: 30px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.box-form .left .overlay h1 {
  font-size: 9vmax;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 80px;
}
.box-form .left p {
  font-size: 14px;
  color: #b0b3b9;
}
.box-form .left .overlay a {
  color: #ffffff;
  text-decoration: underline;
  margin-top: 10px;
}

.box-form .right {
  padding: 40px;
  overflow: hidden;
}
@media (max-width: 980px) {
  .box-form .right {
    width: 100%;
  }
}
.box-form .right h5 {
  font-size: 48px;
  line-height: 0;
}

.box-form .right .inputs {
  overflow: hidden;
}
.box-form .right input {
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #b0b3b9;
}
.box-form .right button {
  color: #fff;
  font-size: 16px;
  padding: 12px 52px;
  border-radius: 5px;
  display: inline-block;
  border: 0;
  outline: 0;
  background-image: linear-gradient(to right, #fc466b, #3f5efb);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.contact-box-form {
  background-color: white;
  margin: 0 auto;
  width: 30%;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Poppins", Helvetica, Arial, sans-serif;
}

#contact {
  border-radius: 10px;
  background: #f9f9f9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  border: none;
  background-image: linear-gradient(to right, #fc466b, #3f5efb);
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43a047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
